#homenav{

}

.nav-item{

}

#add_friend{
    visibility: hidden;
}



#friends_list{
    color: green;
}

#friends_list_header{
    text-decoration: underline;
}

#fromthem{
    list-style-type: none;
}

#fromyou{
    list-style-type: none;
}