{% extends "homepage.html" %}
{% block content %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id = homenav>
        <ul class="navbar-nav mr-auto">

          <li class="nav-item">
              <form method="post">
             <input type="submit" name="button" value="Home">
              </form>
          </li>

          <li class="nav-item">
            <span class="navbar-text" id = "welcome_user">
                Welcome {{ username }}!
            </span>
          </li>
        </ul>


        <form class="form-inline my-2 my-lg-0" id ="search_form" onsubmit="return false">
          <input class="form-control mr-sm-2" type="search"  name='input_name' id="search_text" placeholder="Add Friend by Username" aria-label="Search">

          <button class="btn btn-success my-2 my-sm-0" type="submit" id="search_button">Search</button>
        </form>
    </nav>

    <div class="container">
        <div class="row">
            <div class ="col-sm">
                <p id =friend_result></p>
            </div>
            <div class ="col-sm">
                <button id="add_friend" type="button" >Add Friend</button>
            </div>
        </div>
    </div>
    <h3>Please double click message button for the person you want to message</h3>

    <h3>Please refresh the page if messages are not sending</h3>

<div class="container" id = friends_list>
<div class="col">
            <div class="row" id = friends_list_header>
                Friends List
            </div>
    {% for friendship_id in friends %}
        <br>
            <div class="row">
                {{friendship_id.friend}}
                <button onsubmit="return false" class="message_friend" formmethod="post" name="button" id="{{friendship_id.friend}}" type="button" >Message {{ friendship_id.friend }} </button>
            </div>

    {% endfor %}

    {% for friendship_id in other_friends %}
        <br>
            <div class="row">
                {{friendship_id.username}}
                <button onsubmit="return false" class="message_friend" formmethod="post" name="button" id="{{friendship_id.username}}" type="button" >Message {{ friendship_id.username }}</button>
            </div>
    {% endfor %}
</div>
</div>

<form class="form-inline my-2 my-lg-0" id ="messageform" onsubmit="return false">
          <input class="form-control mr-sm-2" name='input_name' id="msg_text" placeholder="send a message" aria-label="Search">
          <button class="btn btn-success my-2 my-sm-0" type="submit" id="submitmessage"></button>
</form>
<div class ="row">

    <div class ="col">
    <ul id="fromyou">

    </ul>
    </div>


    <div class ="col">
    <ul id="fromthem">

    </ul>
    </div>

</div>
{% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
     {% for message in messages %}
       <li>{{ message }} </li>
     {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
{% endblock %}