{% extends "index.html" %}
{% block content %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id = homenav>
        <ul class="navbar-nav mr-auto">

          <li class="nav-item">
              <form action="" method="post">
                <input type="submit" name="nav_button" value="Logout">
              </form>
          </li>

          <li class="nav-item">
            <form action="" method="post">
                <p><input type="submit" name="nav_button" value="View Friends List"></p>
            </form>
          </li>

          <li class="nav-item">
            <span class="navbar-text" id = "welcome_user">
                Welcome {{ username }}!
            </span>
          </li>
        </ul>

        <form class="form-inline my-2 my-lg-0" id ="search_form" onsubmit="return false">
          <input class="form-control mr-sm-2" type="search"  name='input_name' id="search_text" placeholder="Add Friend by Username" aria-label="Search">
          <button class="btn btn-success my-2 my-sm-0" type="submit" id="search_button">Search</button>
        </form>
    </nav>

    <div class="container">
        <div class="row">
            <div class ="col-sm">
                <p id =friend_result></p>
            </div>
            <div class ="col-sm">
                <button id="add_friend" type="button" >Add Friend</button>
            </div>
        </div>
    </div>
    <form class="form-inline my-2 my-lg-0" id ="change_password_form" onsubmit="return false">
          <input class="form-control mr-sm-2" type="search"  name='change password' id="change_password_input" placeholder="Enter a new Password">
          <button class="btn btn-success my-2 my-sm-0" type="submit" id="change_password_button">Change Password</button>
    </form>
    <script type="text/javascript">
    username = "{{ username }}";
    localStorage.setItem("user",username);

    </script>


{% endblock %}