{% extends "index.html" %}
{% block content %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
     {% for message in messages %}
       <li>{{ message }} </li>
     {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <h1>{{ main_header }}</h1>
    {% if request.path == "/" %}
        <div class="row">
            <div class="col" id="new_user_link">
                Don't have an account? Click <a href="{{ url_for('new_user')}}">here</a> to create one
            </div>
        </div>
        {% else %}
        <div class="row">
            <div class="col" id="new_user_link">
                <a href="{{ url_for('home')}}">Home</a>
            </div>
        </div>
        {% endif %}
    <form action="" id = "user_login" method="post" name="Enter">
    {{ user_login.hidden_tag() }}

    {% if request.path == "/createuser/" %}
    <div class="container">
        <div class="row">
            <div class="col">
                Email Address
            </div>
            <div class="col" id="user">
                {{ user_login.email_address }}
            </div>
        </div>

    {% endif %}

        <div class="row">
            <div class="col">
                Username
            </div>
            <div class="col" id="user">
                {{ user_login.username }}
            </div>
        </div>

        <div class="row">
            <div class="col">
                Password
            </div>
            <div class="col">
                {{ user_login.password }}
            </div>
        </div>

        <div class="row">
            <div class="col">
                <p><input type="submit" id="submit_login" value="Enter"></p>
            </div>
        </div>

    </div>
    </form>
    <script>
    /*
    document.addEventListener('DOMContentLoaded', () => {
        //var socket = io.connect('https://' + document.domain + ':' + location.port);
        var socket = io.connect("http://127.0.0.1:5000/");
        socket.on('connect', function(){
            console.log("connected");
            socket.send('User has connected!')
        });
        socket.on("message",function (msg) {
            $("#messages").append('<li>'+ msg + '<li>');
        });
        $('#sendbutton').on('click',function () {
           socket.send($('#myMessage').val());
           $("#myMessage").val('');
        });
});

     */
    </script>
{% endblock %}